
body{
    height: 100%;
    width: 100%;
    background: #ffffff;
    margin :0;padding: 0;
}
#movie{
    position: absolute;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 130px;
    background: #392f59;

    //border: 1px solid #fff;
}
#left{
    position: absolute;
    display: block;
    float: left;
    height: 100px;
    width: 200px;
   // border: 1px solid #fff;
    text-align: center;
    //background: #8b8b8b;
}
#left p{
    position: absolute;
    display: block;
    width: 100px;
    word-wrap: break-word;
    font-size: 35px;
    left: 50px;
    top: -30px;
    color:#fff;
    font-family: 微软雅黑;
}
#right{
    position: absolute;
    display: flex;
    flex-wrap:wrap;
    float: left;
    height: 125px;
    width: 85%;
   // border: 1px solid #fff;
    text-align: center;
    //background:#8b8b8b;
    left: 200px;
    word-wrap: break-word;
    color: #fff;
}
#right:hover,#left:hover{
    cursor: pointer;
}
#name{
     position: relative;
     overflow: hidden;
     display: block;
     white-space: nowrap;
     text-overflow: ellipsis;
     list-style: none;
     width:100px ;
     height: 30px;
     margin-right: 30px;
     margin-bottom: 5px;

     text-align: left;
     font-size: 15px;
     font-family: 微软雅黑;
     color: #fff;

}

#name:hover{
    background: #708eff;
}
#customers{
    position: absolute;
    display: block;
    top: 100px;
    left: 11%;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    width: 80%;
    z-index: 0;

}
td,#customers th{
    font-size: 1em;
   /* border: 1px solid #98bf21;*/
    padding: 3px 0 2px 0;
    border-radius: 10px;

}
#customers th{
    height: 30px;
    font-size: 25px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 4px;
    color: #ffffff;
    font-weight:normal;
    border-radius: 5px;
    background-color: #c8c8c8;
}
#title{
    color: #000;
    height: 50px;
    background:#c8c8c8;
    text-align: center;
    padding-top: 5px;
    padiing-bottom:4px;
    font-size: 25px;
    font-family: 微软雅黑;

}
#title #title-id{
    width: 125px;
    font-weight: bolder;
}
#title #title-room{
    width: 125px;
    font-weight: bolder;
}
#title #title-name{
    width: 250px;
    font-weight: bolder;
}
#title #title-time{
    width: 250px;
    font-weight: bolder;
}
#title #title-long-time{
    width: 150px;
    font-weight: bolder;
}
#title #title-price{
    width: 150px;
    font-weight: bolder;
}
.dub
{
    color: #000000;
    font-size: 20px;
    font-family: 微软雅黑;
    height: 80px;
    text-align: center;
    font-weight: normal;
    background-color:#c8c8c8;

}
.odd
{
    color: #000000;
    font-weight: normal;
    font-family: 微软雅黑;
    font-size: 20px;
    height: 80px;
    text-align: center;
    background-color: #ffffff;
}

#button-all{
    position: absolute;
    display: block;
    width: 200px;
    height: 100%;
    top:103px;
    left: 0;
//border: 1px solid #020209;
   // background: rgba(255, 218, 178, 0.05);
    transition: 500ms;
}
#button-add{
    position: absolute;
    display:block;
    width: 100px;
    height: 100px;
    outline: none;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    background: rgba(218, 214, 214, 0.81);
    font-family: 微软雅黑;
    left: 30px;
    top: 70px;
    box-shadow: 0 0 10px #ffffff;

}
#button-del{
    position: absolute;
    display:block;
    width: 100px;
    height: 100px;
    outline: none;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    background: rgba(218, 214, 214, 0.81);
    font-family: 微软雅黑;
    left: 30px;
    top: 200px;
    box-shadow: 0 0 10px #ffffff;

}
#button-sel{
    position: absolute;
    display:block;
    width: 100px;
    height: 100px;
    outline: none;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    background: rgba(218, 214, 214, 0.81);
    font-family: 微软雅黑;
    left: 30px;
    top: 330px;
    box-shadow: 0 0 10px #ffffff;

}
#button-back{
    position: absolute;
    display:block;
    width: 100px;
    height: 100px;
    outline: none;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    background:rgba(218, 214, 214, 0.81);
    font-family: 微软雅黑;
    left: 30px;
    top: 460px;
    box-shadow: 0 0 10px #ffffff;

}
#button-name{
    position: absolute;
    display:none;
    width: 150px;
    height: 150px;
    outline: none;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    background: rgba(216, 218, 218, 0.82);
    font-family: 微软雅黑;
    left: 500px;
    top: 200px;
    box-shadow: 0 0 20px #ffffff;
    z-index: 5;
}
#button-ID{
    position: absolute;
    display:none;
    width: 150px;
    height: 150px;
    outline: none;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    background: rgba(216, 218, 218, 0.82);
    font-family: 微软雅黑;
    left: 700px;
    top: 200px;
    box-shadow: 0 0 20px #ffffff;
    z-index: 5;
}
#button-add:hover,#button-del:hover,#button-sel:hover,#button-back:hover{
    width: 110px;
    height:110px ;
    cursor: pointer;
}
#button-name:hover,#button-ID:hover{
    width: 170px;
    height: 170px;
    cursor: pointer;
}
#form1{
    position: absolute;
    display: none;
    width: 730px;
    height: 450px;
    left: 30%;
    top: 100px;
   // border: 1px solid #fff;

    border-radius: 15px;
    transition: 500ms;
    background: rgba(62, 61, 61, 0.81);
    box-shadow: 0 0 10px #ffffff;
    z-index: 4;
}
#add-plan-ID{
    position: absolute;
    width:100px;
    height:45px;
    top: 50px;
    left: 50px;
    border-radius:5px;
    display: block;
    text-align:left;
    font-size: 20px;
}
#add-room-ID{
    position: absolute;
    width:200px;
    height:45px;
    top: 58px;
    left: 100px;
    border-radius:5px;
    display: block;
    text-align:left;
    font-size: 20px;
}
#add-name{
    position: absolute;
    width:200px;
    height:45px;
    top: 58px;
    left: 450px;
    border-radius:5px;
    display: block;
    text-align:left;
    font-size: 20px;
}
#add-year{
    position: absolute;
    width:170px;
    height:45px;
    top: 200px;
    left: 15px;
    border-radius:5px;
    display: block;
    text-align:left;
    font-size: 20px;
}
#add-hour{
    position: absolute;
    width:60px;
    height:45px;
    top: 200px;
    left: 200px;
    border-radius:5px;
    display: block;
    text-align:left;
    font-size: 20px;
}
#add-minute{
    position: absolute;
    width:70px;
    height:45px;
    top: 200px;
    left: 275px;
    border-radius:5px;
    display: block;
    text-align:left;
    font-size: 20px;
}
 #price{
    position: absolute;
    width:150px;
    height:45px;
    top: 200px;
    left: 500px;
    border-radius:5px;
    display: block;
    text-align:left;
    font-size: 20px;
}
#form1-submit{
    position: absolute;
    width:90px;
    height: 40px;
    left:50px;
    top:350px;
    text-decoration: none;
    cursor: pointer;
    color: #000000;
    background-color: #fff;
    border:0;
    border-radius:5px;
    text-align: center;
    font-size: 30px;
}
#form1-reset{
    position: absolute;
    width:90px;
    height: 40px;
    left:550px;
    top:350px;
    text-decoration: none;
    cursor: pointer;
    color: #000000;
    background-color: #fff;
    border:0;
    border-radius:5px;
    text-align: center;
    font-size: 30px;
}
#tip-id{
    position: absolute;
    font-family: 微软雅黑;
    color: #fff;
    left: 15px;
    top: 50px;
    font-size: 20px;
}
#tip-name{
    position: absolute;
    font-family: 微软雅黑;
    color: #fff;
    left: 360px;
    top: 50px;
    font-size: 20px;
}
#form2{
    position: absolute;
    display: none;
    width: 400px;
    height: 200px;
    left: 37%;
    top: 200px;
   // border: 1px solid #fff;
    border-radius: 15px;
    transition: 500ms;
    background:rgba(62, 61, 61, 0.81);
    box-shadow: 0 0 10px #ffffff;
    z-index: 4;
}
#form2-ID{
    position: absolute;
    width:290px;
    height:45px;
    top: 50px;
    left: 50px;
    border-radius:5px;
    display: block;
    text-align:left;
    font-size: 20px;
}
#form2-submit{
    position: absolute;
    width:90px;
    height: 40px;
    left:50px;
    top:120px;
    text-decoration: none;
    cursor: pointer;
    color: #000000;
    background-color: #fff;
    border:0;
    border-radius:5px;
    text-align: center;
    font-size: 30px;
}
#form2-reset{
    position: absolute;
    width:90px;
    height: 40px;
    left:250px;
    top:120px;
    text-decoration: none;
    cursor: pointer;
    color: #000000;
    background-color: #fff;
    border:0;
    border-radius:5px;
    text-align: center;
    font-size: 30px;
}
#form3{
    position: absolute;
    display: none;
    width: 400px;
    height: 200px;
    left: 37%;
    top: 200px;
   // border: 1px solid #fff;
    border-radius: 15px;
    transition: 500ms;
    background: rgba(62, 61, 61, 0.81);
    box-shadow: 0 0 10px #ffffff;
    z-index: 4;
}
#form3-tip{
    position: absolute;
    font-family: 微软雅黑;
    color: #fff;
    left: 150px;
    top: 0;
    font-size: 20px;
}
#form3-name{
    position: absolute;
    width:290px;
    height:45px;
    top: 50px;
    left: 50px;
    border-radius:5px;
    display: block;
    text-align:left;
    font-size: 20px;
}
#form3-submit{
    position: absolute;
    width:90px;
    height: 40px;
    left:50px;
    top:120px;
    text-decoration: none;
    cursor: pointer;
    color: #000000;
    background-color: #fff;
    border:0;
    border-radius:5px;
    text-align: center;
    font-size: 30px;
}
#form3-reset{
    position: absolute;
    width:90px;
    height: 40px;
    left:250px;
    top:120px;
    text-decoration: none;
    cursor: pointer;
    color: #000000;
    background-color: #fff;
    border:0;
    border-radius:5px;
    text-align: center;
    font-size: 30px;
}
#form4{
    position: absolute;
    display: none;
    width: 400px;
    height: 200px;
    left: 37%;
    top: 200px;
// border: 1px solid #fff;
    border-radius: 15px;
    transition: 500ms;
    background: rgba(62, 61, 61, 0.81);
    box-shadow: 0 0 10px #ffffff;
    z-index: 4;
}
#form4-tip{
    position: absolute;
    font-family: 微软雅黑;
    color: #fff;
    left: 150px;
    top: 0;
    font-size: 20px;
}
#form4-ID{
    position: absolute;
    width:290px;
    height:45px;
    top: 50px;
    left: 50px;
    border-radius:5px;
    display: block;
    text-align:left;
    font-size: 20px;
}
#form4-submit{
    position: absolute;
    width:90px;
    height: 40px;
    left:50px;
    top:120px;
    text-decoration: none;
    cursor: pointer;
    color: #000000;
    background-color: #fff;
    border:0;
    border-radius:5px;
    text-align: center;
    font-size: 30px;
}
#form4-reset{
    position: absolute;
    width:90px;
    height: 40px;
    left:250px;
    top:120px;
    text-decoration: none;
    cursor: pointer;
    color: #000000;
    background-color: #fff;
    border:0;
    border-radius:5px;
    text-align: center;
    font-size: 30px;
}
#result{
    position: absolute;
    display: block;
    top: 150px;
    left: 15%;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    width: 80%;
    z-index: 2;
}